<ul class="sidebar-menu" data-widget="tree">
	<li class="header">HEADER</li>
	<!-- Optionally, you can add icons to the links -->
	<li class="active"><a href="/Currency/CurrencyList"><i class="fa fa-link"></i> <span>Para Birimleri</span></a></li>
	<li class="active"><a href="/CurrencyRate/CurrencyRateList"><i class="fa fa-link"></i> <span>Döviz Kurları</span></a></li>
	<li class="active"><a href="/Item/ItemList"><i class="fa fa-link"></i> <span>Ürünler</span></a></li>
	<li class="active"><a href="/Order/OrderList"><i class="fa fa-link"></i> <span>Siparişler</span></a></li>

	
</ul>